.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.2em;
  background-color: rgb(106, 212, 106);
  border-bottom: 1px solid rgba(88, 175, 88, 0.7);
  border-top: 1px solid rgba(88, 175, 88, 0.7);
}

.header a {
  margin: 0 0.5em;
}

.search-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 98%;
  width: 99.7%;
  position: relative;
}

.nav-link {
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(0, 158, 0);
  font-size: 1em;
  color: white;
  background-color: rgb(106, 212, 106);
  padding: 0.7rem 0.5rem;
  transition: border 0.3s;
  font-size: 1em;
}

.logo {
  font-size: 1.5em;
}

.nav-link:hover,
.nav-link:active {
  border-bottom: 2px solid rgb(88, 175, 88);
}

.toggle-search {
  width: 20%;
  height: 100%;
  transition: background-color 0.3s;
}

.toggle-search:hover {
  background-color: rgb(165, 165, 165);
}

.search-form {
  width: 80%;
  height: 100%;
  overflow-y: hidden;
  position: relative;
}

.search-input {
  width: 80%;
  height: 100%;
  margin: 0 0.2%;
  padding: 0;
  border: none;
  font-size: 20px;
}

.btn {
  border: none;
  padding: 0;
  font-size: 80%;
}

.recipe-search-btn {
  width: 19.4%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s;
}

.recipe-search-btn:hover {
  background-color: rgb(165, 165, 165);
}

.ingredient-search-btn-container {
  height: 100%;
  width: 19.2%;
  display: inline-flex;
  flex-direction: row;
  margin: 0;
}

.add-button {
  width: 49.2%;
  height: 100%;
  margin-right: 1px;
  padding: 0;
  transition: background-color 0.3s;
}

.ingredient-search-btn {
  width: 49.2%;
  height: 100%;
  margin: 0 0 0 0.2%;
  padding: 0;
  transition: background-color 0.3s;
}

.add-button:hover,
.ingredient-search-btn:hover {
  background-color: rgb(165, 165, 165);
}

input::placeholder {
  text-align: center;
}

input::placeholder {
  font-size: 150%;
}

.sb-ing-item-container {
  position: absolute;
  top: 0%;
  right: 20%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sb-ing-item {
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  height: 90%;
  background-color: rgb(106, 212, 106);
  color: white;
  vertical-align: middle;
  opacity: 1;
  animation: fade 0.5s linear;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sb-ing-item:hover {
  background-color: rgb(90, 202, 90);
  cursor: pointer;
}

.search-error {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  text-shadow: 1px red;
  border-radius: 5px;
  opacity: 1;
  animation: fade 0.5s linear;
  transition: background-color 0.5s;
}

.search-error:hover {
  background-color: rgba(255, 0, 0, 0.75);
  cursor: pointer;
}

.search-error-none {
  display: none;
}

.burger-container {
  display: none;
}

.burger-item {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .nav-link {
    font-size: 0.85em;
  }

  .search-container {
    width: 60%;
  }
}

@media only screen and (max-width: 1023px) {
  input::placeholder {
    font-size: 125%;
  }

  .toggle-search {
    font-size: 70%;
  }

  .nav-link {
    font-size: 63%;
  }

  .logo {
    font-size: 70%;
  }
}

@media only screen and (max-width: 767px) {
  .nav-link {
    display: none;
  }
  .search-container {
    width: 90%;
  }

  .menu-items {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .burger-container {
    display: inline-block;
    height: 32px;
    width: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 6px;
    transition: background-color 0.3s;
  }

  .burger-container:hover {
    background-color: rgb(90, 202, 90);
  }

  .line {
    height: 3px;
    width: 20px;
    background-color: white;
  }

  .line-top {
    transform-origin: top right;
    margin-bottom: 5px;
  }
  .line-middle {
    opacity: 1;
  }
  .line-bottom {
    transform-origin: top right;
    margin-top: 5px;
  }

  .menu-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: white;
    opacity: 1;
    color: rgb(106, 212, 106);
    transition: height 0.3 ease;
    z-index: 2;
  }

  .menu-list {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: right;
    animation: 1s appear forwards;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .burger-item {
    display: inline;
    font-size: 100%;
    text-decoration: none;
    color: rgb(106, 212, 106);
    cursor: pointer;
    transition: color 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
    animation: 0.5s slideIn forwards;
    padding-top: 10px;
    text-align: right;
    border-bottom: 1px solid rgba(88, 175, 88, 0.5);
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-2%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .burger-item:hover {
    color: rgb(88, 175, 88);
  }

  .exit {
    height: 2px;
    width: 20px;
    background-color: rgb(106, 212, 106);
    transition: all 0.2s ease;
    position: absolute;
    top: 30px;
    right: 25px;
  }

  .exit-top {
    transform: rotate(45deg) translateY(4px);
  }
  .exit-middle {
    opacity: 0;
  }
  .exit-bottom {
    transform: rotate(-45deg) translateY(-4px);
    margin-top: 5px;
  }

  .exit-container {
    position: relative;
    height: 75px;
    width: 10%;
    margin-left: 90%;
    cursor: pointer;
  }

  .exit:hover {
    background-color: rgb(90, 202, 90);
  }
}

@media only screen and (max-width: 480px) {
  input::placeholder {
    font-size: 95%;
  }

  .ingredient-search-btn-container {
    height: 100%;
    width: 19.2%;
    display: inline-flex;
    flex-direction: column;
  }

  .add-button,
  .ingredient-search-btn {
    width: 100%;
    height: 49.5%;
  }

  .add-button {
    margin-bottom: 1px;
  }

  .search-form {
    display: flex;
  }

  .toggle-search {
    font-size: 60%;
  }
}
