.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("/images/bg.jpg");
  background-size: cover;
}
.layout-container {
  position: relative;
}

.layout-subtitle {
  font-style: oblique;
  font-size: 400%;
  font-weight: 100;
  color: white;
  margin: 30px 10px;
}

.btn-container {
  width: 100%;
  text-align: center;
}

.btn-browse {
  text-align: center;
  border: none;
  border-radius: 3px;
  background: rgb(106, 212, 106);
  box-shadow: 0px 2px rgba(101, 155, 101, 0.3);
  color: white;
  font-size: 110%;
  font-weight: 300;
  line-height: 1;
  padding: 0.5em;
  transition: background 0.2s;
}
.btn-browse:hover {
  background: rgb(88, 175, 88);
}

.a-browse {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 1200px) {
  .layout-subtitle {
    font-size: 350%;
  }
}

@media only screen and (max-width: 1023px) {
  .layout-subtitle {
    font-size: 250%;
  }
  .btn-browse {
    font-size: 80%;
  }
}

@media only screen and (max-width: 767px) {
  .layout-subtitle {
    font-size: 160%;
  }

  .btn-browse {
    font-size: 70%;
  }
}

@media only screen and (max-width: 480px) {
  .layout-container {
    margin-bottom: 20%;
  }
  .layout-subtitle {
    font-size: 100%;
    margin-bottom: 15px;
  }

  .btn-browse {
    font-size: 70%;
  }
}
