.recipe-view-container {
  width: 1140px;
  background-color: rgb(247, 255, 247);
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgba(234, 243, 234, 0.5);
}

.recipe-title {
  text-align: center;
  padding-top: 15px;
}

.view-info-container {
  width: 30%;
  height: 50%;
  border-radius: 55px;
  border: 2px solid #f5d7e1;
  padding: 20px 20px;
  background-color: white;
  font-size: 75%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.view-ingredients-container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 25px;
}

.view-ingredients-container h3 {
  padding-top: 15px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(222, 236, 222);
}

.view-instruction {
  font-size: 85%;
  line-height: 25px;
  margin-left: 40px;
}

.owner {
  font-size: 85%;
  font-style: italic;
  text-align: center;
  padding-top: 25px;
}

.view-button-container {
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 50px;
  text-align: center;
}

.delete-btn {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 10px;
}

.edit-btn {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.image-container img {
  max-width: 100%;
  max-height: 500px;
  width: auto;
}
.instruction-complete {
  text-decoration: line-through;
  color: gray;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.view-instruction span {
  cursor: pointer;
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

@media only screen and (max-width: 1200px) {
  .image-container img {
    max-height: 300px;
  }
  .recipe-view-container {
    width: 100%;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (max-width: 767px) {
  .recipe-view-container .description-container .description {
    font-size: 65%;
  }
  .view-info-container {
    width: 85%;
  }
  .view-ingredients-container {
    padding-bottom: 0;
  }
  .view-instruction {
    font-size: 70%;
    line-height: 1.5em;
  }
  .view-info-container .icon-desc p {
    font-size: 110%;
  }
  .owner {
    font-size: 80%;
  }
}

@media only screen and (max-width: 480px) {
  .view-info-container .icon-desc p {
    font-size: 90%;
  }
  .owner {
    font-size: 75%;
  }
  .view-button-container {
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .recipe-view-container {
    margin: 25px 0;
  }
}
