.welcome-container {
  margin: 5% auto;
  padding: 10% 0;
  width: 1140px;
  background-color: rgb(247, 255, 247);
  /* height: 100vh; */
  overflow-y: hidden;
  border-radius: 10px;
}

.welcome-header {
  text-align: center;
  /* margin-top: 10%; */
}

.welcome-search {
  margin-top: 10%;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .welcome-container {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .welcome-container {
    font-size: 80%;
  }
}
