.form-container {
  width: 1140px;
  background-color: rgb(247, 255, 247);
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgba(234, 243, 234, 0.5);
}

.form-recipe-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-recipe-header {
  font-size: 250%;
}

.recipe-form-field {
  width: 100%;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid rgb(222, 236, 222);
  text-align: center;
}

.label-container {
  padding: 10px 0;
  font-style: italic;
  font-weight: 100;
  font-size: 75%;
}

/* .recipe-form-label {
  
} */

.recipe-form-input {
  height: 40px;
  font-size: 80%;
  background-color: white;
  border: 1px solid #f8e8ee;
  border-radius: 5px;
  transition: border-color 0.5s ease-out;
}
.recipe-form-input:focus {
  border-color: #f5d7e1;
}

.form-textarea {
  width: 35%;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-textarea::placeholder {
  text-align: center;
  line-height: 96px;
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
}

.image-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 50%;
}

.recipe-img-container {
  height: 300px;
  background-color: white;
  width: auto;
  max-width: 600px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px rgba(234, 243, 234, 0.5);
}

.recipe-img {
  display: inline-table;
  height: 100%;
  max-width: 100%;
  border-radius: 5px;
}

.form-button {
  padding: 10px 15px;
  background-color: #f8e8ee;
  border: 1px solid #f5d7e1;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #f5d7e1;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-top: 15px;
}

.form-button:hover {
  background-color: #f5d7e1;
  box-shadow: 1px 1px 1px 1px #f8e8ee;
}

.time-input {
  margin-right: 7px;
  width: 100px;
  text-align: center;
  font-size: 80%;
  padding-left: 12px;
  padding-top: 3px;
}

fieldset .label-container:nth-child(2) {
  margin-bottom: 10px;
}

.servings {
  width: 100px;
  text-align: center;
  font-size: 100%;
  padding-left: 12px;
}

.ingredient-container {
  margin: 10px 0;
  width: 40%;
  margin: 0 auto;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(222, 236, 222);
}

.ingredient-item-container {
  display: inline-block;
}

.ingredient-number-label-container {
  padding: 20px 10px 0 0;
  font-style: italic;
  font-weight: 200;
  font-size: 90%;
  display: inline-block;
}

.quantity {
  height: 40px;
  font-size: 80%;
  width: 75px;
  padding-left: 10px;
  padding-top: 3px;
  margin-right: 10px;
  background-color: white;
  border: 1px solid #f8e8ee;
  border-radius: 5px;
  transition: border-color 0.5s ease-out;
}

.quantity:hover,
.quantity:active {
  border-color: #f5d7e1;
}

.unit {
  height: 40px;
  font-size: 80%;
  margin-right: 10px;
  background-color: white;
  border: 1px solid #f8e8ee;
  border-radius: 5px;
  transition: border-color 0.5s ease-out;
}

.unit:hover,
.unit:active {
  border-color: #f5d7e1;
}

.ingredient {
  height: 40px;
  font-size: 80%;
  background-color: white;
  border: 1px solid #f8e8ee;
  border-radius: 5px;
  transition: border-color 0.5s ease-out;
}

.ingredient:hover,
.ingredient:active {
  border-color: #f5d7e1;
}
