.form-container {
  width: 1140px;
  background-color: rgb(247, 255, 247);
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 50px 20px 0;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgba(234, 243, 234, 0.5);
}

.form-recipe-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-recipe-header {
  font-size: 250%;
}

.recipe-form-field {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid rgb(222, 236, 222);
  text-align: center;
}

.label-container {
  padding-bottom: 5px;
  font-style: italic;
  font-weight: 100;
  font-size: 75%;
}

.recipe-form-label {
  padding-right: 10px;
}

.recipe-form-input {
  height: 40px;
  font-size: 80%;
  background-color: rgb(208, 236, 208);
  border: 1px solid rgb(106, 212, 106);
  border-radius: 5px;
  transition: border-color 0.5s ease-out;
}
.recipe-form-input:focus {
  border-color: transparent;
}
