.credentials-container {
  height: 100%;
  width: 100%;
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.credentials-form {
  width: 615px;
}

fieldset {
  border: hidden;
  padding: 0;
  margin: 0 0 10px 0;
  border: 0;
}

.input-field {
  width: 100%;
  height: 40px;
  border-style: groove;
}

.btn-submit {
  width: 100%;
  padding: 10px 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  background-color: white;
  border: 1px solid rgb(106, 212, 106);
  color: rgb(106, 212, 106);
  transition: color 0.2s, background-color 0.2s;
}

.btn-submit:hover,
.btn-submit:active {
  color: white;
  background-color: rgb(88, 175, 88);
}

.redirect-container {
  text-align: center;
  margin-top: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-redirect {
  margin: auto;
  width: 100%;
  padding: 10px 0;
  background-color: rgb(106, 212, 106);
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(0, 158, 0);
  transition: text-shadow 0.2s, background-color 0.2s;
}

.instructions {
  position: absolute;
  top: 170px;
}

.btn-redirect:hover,
.btn-redirect:active {
  background-color: rgb(88, 175, 88);
  text-shadow: 1px 1px 1px rgb(106, 212, 106);
}

.btn-redirect,
.btn-submit,
.input-field {
  border-radius: 5px;
}

.instructions h2 {
  color: rgb(106, 212, 106);
  text-shadow: 0px 1px 1px rgb(52, 199, 52);
  margin-bottom: 10px;
}

.instructions p {
  margin-top: 0;
  font-size: 80%;
  font-style: italic;
}

.credentials-form input[type="text"] {
  font-size: 80%;
}

.credentials-form input[type="password"] {
  font-size: 80%;
}

.input-icon {
  position: absolute;
  margin-top: 8px;
  padding-right: 10px;
  color: rgb(106, 212, 106);
  font-size: 125%;
}

.icon-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
