@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,900;1,400&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 20px;
}

button {
  cursor: pointer;
}

*:focus {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f5d7e1;
  border-radius: 10px;
}

input {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
